<div class="d-flex flex-column">
    <h1 class="d-flex justify-content-center align-items-center">Edit Form</h1>
    <%= render "form_tweet",tweet:@tweet, submit_text: "Edit Schedule", method: :put%>
      
</div>